
  <!--================Header Menu Area =================-->
  <header class="header_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container box_1620">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
        <ul class="nav navbar-nav menu_nav ml-auto">
          <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
          <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="properties.html">Properties</a></li>
          <li class="nav-item"><a class="nav-link" href="agents.html">Team</a></li>
          <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
            </ul>
          </li> 
          <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
            </ul>
          </li> 
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
        </ul>
      </div> 
    </div>
        </nav>
      </div>
  </header>
  <!--================Header Menu Area =================-->
  
  <!--================Home Banner Area =================-->
  <section class="home_banner_area">
      <div class="banner_inner d-flex align-items-center">
  <div class="container">
    <div class="banner_content">
      <h5>The joy of home owning</h5>
      <h3>Find Your New Home</h3>
      <a class="main_btn" href="#">Learn More</a>
    </div>
  </div>
      </div>
      <div class="container">
  <div class="advanced_search">
    <h3>Search Properties for</h3>
    <div class="search_select">
      <select class="s_select">
        <option value="1">Choose Locations</option>
        <option value="2">Property Type</option>
        <option value="4">Bedrooms</option>
      </select>
      <select class="s_select">
        <option value="1">Property Type</option>
        <option value="2">Choose Locations</option>
        <option value="4">Bedrooms</option>
      </select>
      <select class="s_select">
        <option value="1">Bedrooms</option>
        <option value="2">Property Type</option>
        <option value="4">Choose Locations</option>
      </select>
      <select class="s_select">
        <option value="1">Bathrooms</option>
        <option value="2">Property Type</option>
        <option value="4">Bedrooms</option>
      </select>
    </div>
    <div class="search_range">
      <div class="range_item">
        <h5>Price Range</h5>
        <div id="slider-range"></div>
        <span class="d_text">$200</span>
        <input type="text" id="amount" readonly style="border:0;" class="amount">
      </div>
      <div class="range_item">
        <h5>property Area</h5>
        <div id="slider-range2"></div>
        <span class="d_text2">50sqm</span>
        <input type="text" id="amount2" readonly style="border:0;" class="amount2">
      </div>
    </div>
    <button type="submit" value="submit" class="btn submit_btn">Search Property</button>
  </div>
      </div>
  </section>
  <!--================End Home Banner Area =================-->
  
  <!--================Welcome Area =================-->
  <section class="welcome_area p_120">
    <div class="container">
      <div class="row welcome_inner">
        <div class="col-lg-6">
          <div class="welcome_img">
            <img class="img-fluid" src="img/welcome-1.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="welcome_text">
            <h4>Welcome to SEL Center</h4>
            <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
            <div class="row">
              <div class="col-sm-4">
                <div class="wel_item">
                  <i class="lnr lnr-database"></i>
                  <h4>$2.5M</h4>
                  <p>Total Donation</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="wel_item">
                  <i class="lnr lnr-book"></i>
                  <h4>1465</h4>
                  <p>Total Projects</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="wel_item">
                  <i class="lnr lnr-users"></i>
                  <h4>3965</h4>
                  <p>Total Volunteers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Welcome Area =================-->
  
  <!--================Properties Area =================-->
  <section class="properties_area">
    <div class="container">
      <div class="main_title">
        <h2>Our Top Rated Properties</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      <div class="row properties_inner">
        <div class="col-lg-4">
          <div class="properties_item">
            <div class="pp_img">
              <img class="img-fluid" src="img/properties/pp-1.jpg" alt="">
            </div>
            <div class="pp_content">
              <a href="#"><h4>04 Bed Duplex</h4></a>
              <div class="tags">
                <a href="#">04 Beds</a>
                <a href="#">03 Baths</a>
                <a href="#">750 sqm</a>
                <a href="#"><i class="fa fa-check" aria-hidden="true"></i>Pool</a>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Bar</a>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Pool</a>
              </div>
              <div class="pp_footer">
                <h5>Total: $3.5M</h5>
                <a class="main_btn" href="#">For Sale</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="properties_item">
            <div class="pp_img">
              <img class="img-fluid" src="img/properties/pp-2.jpg" alt="">
            </div>
            <div class="pp_content">
              <a href="#"><h4>04 Bed Duplex</h4></a>
              <div class="tags">
                <a href="#">04 Beds</a>
                <a href="#">03 Baths</a>
                <a href="#">750 sqm</a>
                <a href="#"><i class="fa fa-check" aria-hidden="true"></i>Pool</a>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Bar</a>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Pool</a>
              </div>
              <div class="pp_footer">
                <h5>Total: $3.5M</h5>
                <a class="main_btn" href="#">For Sale</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="properties_item">
            <div class="pp_img">
              <img class="img-fluid" src="img/properties/pp-3.jpg" alt="">
            </div>
            <div class="pp_content">
              <a href="#"><h4>04 Bed Duplex</h4></a>
              <div class="tags">
                <a href="#">04 Beds</a>
                <a href="#">03 Baths</a>
                <a href="#">750 sqm</a>
                <a href="#"><i class="fa fa-check" aria-hidden="true"></i>Pool</a>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Bar</a>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Pool</a>
              </div>
              <div class="pp_footer">
                <h5>Total: $3.5M</h5>
                <a class="main_btn" href="#">For Sale</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Properties Area =================-->
  
  <!--================Testimonials Area =================-->
  <section class="testimonials_area p_120">
    <div class="container">
      <div class="row testimonials_inner">
        <div class="col-lg-4">
          <div class="testi_left_text">
            <h4>Client’s Feedback</h4>
            <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="testi_slider owl-carousel">
        <div class="item">
          <div class="testi_item">
            <img src="img/testimonials/testi-1.png" alt="">
            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
            <h4>Cordelia Barton</h4>
            <h6>CEO at Google</h6>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
            <img src="img/testimonials/testi-2.png" alt="">
            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
            <h4>Cordelia Barton</h4>
            <h6>CEO at Google</h6>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
            <img src="img/testimonials/testi-1.png" alt="">
            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
            <h4>Cordelia Barton</h4>
            <h6>CEO at Google</h6>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
            <img src="img/testimonials/testi-2.png" alt="">
            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
            <h4>Cordelia Barton</h4>
            <h6>CEO at Google</h6>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
            <img src="img/testimonials/testi-1.png" alt="">
            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
            <h4>Cordelia Barton</h4>
            <h6>CEO at Google</h6>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
            <img src="img/testimonials/testi-2.png" alt="">
            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
            <h4>Cordelia Barton</h4>
            <h6>CEO at Google</h6>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Testimonials Area =================-->
  
  <!--================Cities Area =================-->
  <section class="cities_area p_120">
    <div class="container">
      <div class="main_title">
        <h2>Demandable Cities</h2>
        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day,</p>
      </div>
      <div class="row cities_inner">
        <div class="col-lg-3 col-md-6">
          <div class="cities_item">
            <img class="img-fluid" src="img/cities/cities-1.jpg" alt="">
            <a class="main_btn2" href="#">Book Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="cities_item">
            <img class="img-fluid" src="img/cities/cities-2.jpg" alt="">
            <a class="main_btn2" href="#">Book Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="cities_item">
            <img class="img-fluid" src="img/cities/cities-3.jpg" alt="">
            <a class="main_btn2" href="#">Book Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="cities_item">
            <img class="img-fluid" src="img/cities/cities-4.jpg" alt="">
            <a class="main_btn2" href="#">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cities Area =================-->
  
  <!--================Feature Area =================-->
  <section class="feature_area p_120">
    <div class="container">
      <div class="main_title">
        <h2>Why we are the best</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      </div>
      <div class="row feature_inner">
        <div class="col-lg-4 col-md-6">
          <div class="feature_item">
            <h4><i class="lnr lnr-user"></i>Expert Technicians</h4>
            <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature_item">
            <h4><i class="lnr lnr-license"></i>Professional Service</h4>
            <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature_item">
            <h4><i class="lnr lnr-phone"></i>Great Support</h4>
            <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature_item">
            <h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
            <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature_item">
            <h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
            <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature_item">
            <h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
            <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Feature Area =================-->
  
  
  <!--================Clients Logo Area =================-->
  <section class="clients_logo_area p_120">
    <div class="container">
      <div class="main_title">
        <h2>Reliable Customers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
      </div>
      <div class="clients_slider owl-carousel">
        <div class="item">
          <img src="img/clients-logo/c-logo-1.png" alt="">
        </div>
        <div class="item">
          <img src="img/clients-logo/c-logo-2.png" alt="">
        </div>
        <div class="item">
          <img src="img/clients-logo/c-logo-3.png" alt="">
        </div>
        <div class="item">
          <img src="img/clients-logo/c-logo-4.png" alt="">
        </div>
        <div class="item">
          <img src="img/clients-logo/c-logo-5.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--================End Clients Logo Area =================-->
  
  
  <!--================ start footer Area  =================-->	
  <footer class="footer-area p_120">
      <div class="container">
          <div class="row">
              <div class="col-lg-3  col-md-6 col-sm-6">
                  <div class="single-footer-widget">
                      <h6 class="footer_title">About Us</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="single-footer-widget">
                      <h6 class="footer_title">Newsletter</h6>
                      <p>Stay updated with our latest trends</p>		
                      <div id="mc_embed_signup">
                          <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                              <div class="input-group d-flex flex-row">
                                  <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                  <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                              </div>									
                              <div class="mt-10 info"></div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-footer-widget instafeed">
                      <h6 class="footer_title">Instagram Feed</h6>
                      <ul class="list instafeed d-flex flex-wrap">
                          <li><img src="img/instagram/Image-01.jpg" alt=""></li>
                          <li><img src="img/instagram/Image-02.jpg" alt=""></li>
                          <li><img src="img/instagram/Image-03.jpg" alt=""></li>
                          <li><img src="img/instagram/Image-04.jpg" alt=""></li>
                          <li><img src="img/instagram/Image-05.jpg" alt=""></li>
                          <li><img src="img/instagram/Image-06.jpg" alt=""></li>
                          <li><img src="img/instagram/Image-07.jpg" alt=""></li>
                          <li><img src="img/instagram/Image-08.jpg" alt=""></li>
                      </ul>
                  </div>
              </div>	
              <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="single-footer-widget f_social_wd">
                      <h6 class="footer_title">Follow Us</h6>
                      <p>Let us be social</p>
                      <div class="f_social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
                      </div>
                  </div>
              </div>						
          </div>
          <div class="row footer-bottom d-flex justify-content-between align-items-center">
              <p class="col-lg-12 footer-text text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
      </div>
  </footer>
<!--================ End footer Area  =================-->
  
  
